@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #222;
  color: #161616;
  background-color: currentColor;
}
#current-weather {
  padding-top: 30vh;
}
.row {
  margin: 0;
}
.center {
  justify-content: center;
}

.hover-scale {
  transition-duration: 0.2s;
}

.hover-scale:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.selected {
  font-weight: bold;
  text-decoration: overline;
}
